/* Responsive image batch form */

.responsive-image-batch__picture-image-styles td,
.responsive-image-batch__picture-image-styles th {
  width: 26%;
}
.responsive-image-batch__picture-image-styles td:nth-child(4),
.responsive-image-batch__picture-image-styles th:nth-child(4) {
  width: 11%;
}
.responsive-image-batch__picture-image-styles td:nth-child(5),
.responsive-image-batch__picture-image-styles th:nth-child(5) {
  width: 11%;
}
.responsive-image-batch__disabled {
  color: #666;
}
fieldset:not(.fieldgroup).responsive-image-batch__fieldset {
  background-color: transparent;
}
.responsive_image_batch__tooltip-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
}
.responsive-image-batch__tooltip {
  background: #fff !important;
}
.responsive-image-batch__sizes-container {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.responsive-image-batch__sizes-container > .form-item {
  display: inline-block;
  margin-right: 20px;
}
